*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 1rem;
}

ul{
    list-style-type: none;
}

.firstHead{
    display: flex;
    justify-content: space-evenly;
}

.firstHead .fa-bars{
    display: none;  
} 

.icons{
    width: 20%;
}

.social{
    font-size: 1.5em;
    color: #F2003C;
    margin: 8% 4%;

}

.social:hover{
    background: #F2003C;
    color: white;
    border: 2px solid #F2003C;
    border-radius: 50%;
    padding: 1%;
}

.outerLogoSect{
    flex-basis: 40%;
}

.logoSect{
    margin: 0 auto;
    border-top: 2px solid #F2003C;
    border-bottom: 2px solid #F2003C;
    border-radius: 15px;
    height: 90%;
    width: 40%;
    margin-top: 1%;
    text-align: center;
}

.logoSect span{
    display: block;
}

.logo{
    font-size: 3em;
    font-family: 'Tangerine', sans-serif;
    font-weight: bold;
    padding: 1% 1%;
}

.motto{
    font-size: 1.2em;
    font-family: 'Kaushan Script', 'cursive', sans-serif;
}

.callingNumber{
    width: 15%;
    padding: 1% 1%;
    text-align: center;
}

.socialCall{
    font-size: 1.5em;
    color: #F2003C;
}

.number{
    font-size: 1.2em;
    margin-left: 7%;
}

.btn{
    margin-top: 1%;
    height: .8%;
    background-color: #F2003C;
    color: black;
    text-decoration: none;
    border: 2px solid Transparent;
    font-size: 1em;
    font-weight: bold;
    padding: .5% 1% .5% 1%;
    border-radius: 30px;
    transition: transform .4s;
}
.btn:hover{
    transform: scale(1.2 );
}
  
.headSecond{
    height: 50px;
}
.headli{
    margin: 1% auto;
    padding: .5% 0;
    display: flex;
    width: 60%;
    justify-content: space-around;
}
.anko{
    font-size: 1.2em;
    font-family: 'Inconsolata', 'monospace';
    font-weight: bold;
    padding:0 10%;
}
.headli a{
    text-decoration: none;
    color: black;
}

.anko:hover{
    background-color: transparent;
    border-bottom: 2px solid rgb(3, 70, 70);
    color: #F2003C;
    transform: scale(1.2);
    cursor: pointer;
}
.firstSect{
   
    height: 700px;
    background: url(./Images/beauty\ palor.jpg);
    background-size: 100%;
    background-position: center;
   
    
}

.firstSect h1{
    color: white;
    font-size: 2.8rem;
    font-weight: bold;
    text-align: center; 
}

.giveBackgroundColor{
    height: 8%;
    background-color: rgb(3, 70, 70);
}

.firstSect span{
    color: white;
}

.secondSect{
    height: 400px;
    display: flex;
    justify-content: space-between;
  
}

.spaTreatment{
    flex-basis: 50%;
}

.aboutTreatment{
    background: #fffdd0;
    flex-basis: 50%;
    padding: 2% 0 5% 0;
    padding-left: 5%;
}

.aboutTreatment h3{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    padding-right: 8%;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.aboutTreatment p{
    color: rgb(65, 64, 64);
    font-size: 1.2em;
    font-family: 'PT Serif', serif;
    width: 80%;
    text-align: justify;
    padding-top: 5%;
}

.treatmentButton{
    display: block;
    margin-top: 4%;
    font-size: 1em;
    padding: 1% 1.5%;
    background-color: rgb(3, 70, 70);
    border: 1px solid transparent;
    border-radius: 5px;
}

.treatmentButton a{
    text-decoration: none;
    color: white;
}

.treatmentButton:hover{
    background-color:  rgb(3, 70, 70);
    border: 2px solid rgb(3, 70, 70);
    cursor: pointer;
    transform: scale(1.2);
}

.thirdSect{
    height: 800px;
    background-image: url(./Images/pexels-max-rahubovskiy-6899550.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.thirdSect h3{
    font-size: 2.5em;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-left: 50%;
    padding-top: 8%;
    letter-spacing: 3px;
}

.skincareText{
    width: 35%;
    text-align: justify;
    margin-left: 55%;
    font-family: 'PT Serif', serif;
    font-size: 1.3em;
    line-height: 1.3em;
    padding-top: 1%;
}

.skincareButton{
    text-align: center;
    margin-left: 68%;
    margin-top: 2%;
    font-size: 1em;
    padding: .5% 1%;
    border: 1px solid transparent;
    border-radius: 5px;
    background: rgb(3, 70, 70);
}

.skincareButton a{
    text-decoration: none;
    color: white;
}

.skincareButton:hover{
    background-color:  rgb(3, 70, 70);
    border: 2px solid rgb(3, 70, 70);
    cursor: pointer;
    transform: scale(1.2)
}

.fourthSect{
    height: 400px;
    background: #fffdd0;
}

.aboutSection{
    width: 80%;
    margin: 0 auto;
}

.aboutSection h3{
    font-size: 2.5em;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 5%;
    letter-spacing: 3px;
}

.aboutSection p{
    text-align: justify;
    font-family: 'PT Serif', serif;
    font-size: 1.3em;
    line-height: 1.3em;
    padding-top: 2%;
    color: rgb(65, 64, 64);
}

.aboutButton{
        text-align: center;
        margin-top: 2%;
        font-size: 1em;
        padding: .5% 1%;
        border: 1px solid transparent;
        border-radius: 5px;
        background: rgb(3, 70, 70);
}

.aboutButton a{
    text-decoration: none;
    color: white;
}

.aboutButton:hover{
    background-color:  rgb(3, 70, 70);
    border: 2px solid rgb(3, 70, 70);
    cursor: pointer;
    transform: scale(1.2)
}

.contact{
    height: 400px;
    background: url(./Images/contact\ backgrond.JPG);
    background-position: bottom;
    border-bottom: 1px solid #F2003C;
}

.contactButton{
    width: 30%;
    text-align: center;
    margin-left: 35%;
    margin-top: 8%;
    font-size: 3em;
    padding: 1% 3%;
    border: 1px solid transparent;
    border-radius: 30px;
    background: #fffdd0;
}
.contactButton a{
    color: rgb(65, 64, 64);
    text-decoration: none;
}

.contactButton:hover{
    background-color: #fffdd0;
    border: 2px solid rgb(3, 70, 70);
    cursor: pointer;
    transform: scale(1.2)
}

.arrow{
    display: inline-block;
    color: rgb(65, 64, 64);
    font-weight: bold;
    margin-left: 5%;
    border: 5px solid rgb(65, 64, 64);
    border-radius: 50%;
}

footer{
    height: 300px;
    width: 100%;
    bottom: 0;
    left: 0;
}


footer .content{
    width: 80%;
    margin: auto;
    padding: 2% 2.1% 2.1% 2.1%;
}

footer .content .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5%;
}
.content .top .logo-details{
    color: black;
    font-size: 3em;
    font-family: 'Tangerine', sans-serif;
}

footer .content .top{
    display: flex;
}

.content .top .media-icons{
    flex-basis: 20%;
}

.content .top .media-icons a{
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: black;
    font-size: 1.1em;
    text-decoration: none;
    transition: all 0.4s ease;
}

.top .media-icons a:nth-child(1){
    background: #4267B2;
    padding:3% 5% 3% 5%;
}
.top .media-icons a:nth-child(1):hover{
  color: #4267B2;
    background: #fff;
}
.top .media-icons a:nth-child(2){
    background: #1DA1F2;
    padding:3% 3.5% 3% 3.5%;
}
.top .media-icons a:nth-child(2):hover{
    color: #1DA1F2;
    background: #fff;
}
.top .media-icons a:nth-child(3){
    background: #F2003C;
    padding:3% 4% 3% 4%;
}
.top .media-icons a:nth-child(3):hover{
    color: #F2003C;
    background: #fff;
}
.top .media-icons a:nth-child(4){
    background: #0077B5;
    padding:3% 4% 3% 4%;
}
.top .media-icons a:nth-child(4):hover{
    color: #0077B5;
    background: #fff;
}

footer .content .link-boxes{
    width: 100%;
    display: flex;
    justify-content: center;
}

footer .content .link-boxes .box{
    width: calc(100% / 5 - 10px);
}

.content .link-boxes .box .link_name{
    color: black;
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 5%;
    position: relative;
}

.link-boxes .box .link_name::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 10%;
    background: #F2003C;
    
}

.content .link-boxes .box li{
    margin: 6px 0;
    list-style: none;
}

.content .link-boxes .box li a{
    color: black;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease
}

.content .link-boxes .box li a:hover{
    opacity: 1;
    text-decoration: underline;
}

.box p{
    color: black;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease
}

.box p:hover{
    opacity: 1;
    text-decoration: underline;
}

footer .bottom-details{
    width: 100%;
    background: #12192c;
}

footer .bottom-details .bottom_text{
    max-width: 1250px;
    margin: auto;
    padding: .3% 2%;
    display: flex;
    justify-content: space-between;
}

.bottom-details .bottom_text span,
.bottom-details .bottom_text a{
  font-size: .9em;
  font-weight: 300;
  color: white;
  opacity: 0.8;
  text-decoration: none;
}

.bottom-details .bottom_text a:hover{
    opacity: 1;
    text-decoration: underline;
}
  .bottom-details .bottom_text a{
    margin-right: 10px;
}

/* for pop up */
#popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    background-color: rgba(18, 25, 44,0.87);
  }
  
  .popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0f0f0;
    padding: 30px;
    border-radius: 10px;
   
    width: 40rem; /* Add a maximum width to control the popup size */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2rem;
    cursor: pointer;
    color: #12192c;
  }
  
  h2 {
    text-align: center;
    color: #F2003C; /* color for the heading */
  }

  
  input,
  select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    outline: none;
  }
  
label {
    display: block;
    margin-top: 15px;
    color:#12192c; /* Dark gray color for labels */
  }

  .gender-section {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    color: #12192c;
  }
  
  /* Use flexbox to align the gender section correctly */
  
  
  .gender-section fieldset  {
     display: inline-block;
     border: none;
     margin-right: 3rem;
  } 

  .gender-section fieldset:last-child{
    margin-right: 11rem;

  }

  select{
    font-size: 1.2rem;
  }
  
  
  
  /* Add some colors to the form elements */
  input[type="text"],
  input[type="email"],
  select {
    background-color: #f9f9f9;
  }
  
  button {
    margin-top: 20px;
    background-color: #F2003C;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 30px;
    cursor: pointer;
  }
  
  /* Style the button on hover */
  button:hover {
    border: 3px solid #12192c; /* Darker blue color on hover */
  }
  

@media screen and (min-width: 400px) and (max-width: 480px) {
    .contactButton{
        margin-top: 15%;
    }
}
@media screen and (max-width: 480px) {
    body{
        font-size: 1rem;
        padding: 2%;
    }

    header .icons, header .callingNumber, header .btn {
        display: none;
    }

    .firstHead{
        display: flex;
        justify-content: space-between;
        height: 80px;

    }

    .firstHead .fa-bars{
        display: block;
        margin: 3% 2% 0 0;
        color: #F2003C;
        font-size: 1.6em;
        
    }

    .fa-times{
        color: #F2003C;
        margin: 3% 2% 0 0;
        font-size: larger;
    }

    .headSecond{
        display: none;
        position: absolute;
        background-color: rgba(242, 0, 60, 0.9);
        z-index: 99999;
        left:0; 
        width: 70%;
        height: 70%; 
        top: 8%;
    }
    .headSecond .headli{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 2rem;
        justify-content: space-around;
        padding: 3rem 0;
    }

    .headSecond .headli a{
        color: white;
    }

    .headSecond.active{
        display: block;
    }

    .outerLogoSect, .logoSect{
        width: 85%;
        height: 80%;
    }
    
    .logo{
        font-size: 1.5em;
    }

    .motto{
        font-size: .6em;
    }

    .firstSect{
        height: 300px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .giveBackgroundColor{
        height: 20%;
        display: none;
    }
    
    .giveBackgroundColor h1{
        font-size: 1.2em;
        line-height: 1.5;
        padding-top: 2%;
        width: 80%;
        margin-left: 9%;
    }

    .secondSect{
        padding: 7% 0;
        flex-direction: column;
    }

    .spaTreatment{
        display: none;
    }

    .aboutTreatment h3{
        font-size: 1.5em;
    }

    .aboutTreatment p{
        font-size: medium;
        width: 90%;
    }

    .treatmentButton{
        margin: 0 auto;
        display: inline-block;
        margin-top: 5%;
        margin-left: 30%;
    }

    .treatmentButton a{
        font-size: small;
    }

    .thirdSect{
        height: 350px;
       
    }

    .thirdSect h3{
        padding-top: 20%;
        font-size: 1.5em;
        margin-left: 10%;
    }

    .thirdSect p{
        font-size: medium;
        line-height: 1.75;
        font-weight: bold;
        margin-left: 5%;
        width: 90%;
    }

    .skincareButton{
        font-size: .8em;
        margin-left: 35%;
        padding: 2%;
    }

    .fourthSect{
        height: 410px;
        padding: 2% 0 10% 0;
    }

    .aboutSection h3{
        font-size: 1.5em;
    }

    .aboutSection p{
        font-size: 1em;
        width: 100%;
    }

    .aboutButton{
        font-size: small;
        margin-left: 30%;
        padding: 2%;
    }

    .contact{
        height: 200px;
    }

    .contactButton{
        width: 70%;
        text-align: center;
        margin-left: 15%;
        margin-top: 23%;
        font-size: 2em;
        padding: 3% 5%;
        border: 1px solid transparent;
        border-radius: 30px;
        background: #fffdd0;
    }
    .contactButton a{
        color: rgb(65, 64, 64);
        text-decoration: none;
    }

    .contact .arrow{
        display: none;
    }

    footer{
        height: 400px;
        width: 100%;
        bottom: 0;
        left: 0;
    }
    
    
    footer .content{
        width: 90%;
        margin: auto;
        padding: 10% 0 2.1% 0;
    }

    footer .content .top{
        flex-direction: column;
    }
    
    .content .top .logo-details{
        color: black;
        font-size: 1.5em;
        font-family: 'Tangerine', sans-serif;
    }
    
    
    .content .top .media-icons{
        width: 100%;
        margin-top: 5%;
        text-align: center;
    }
    
    .content .top .media-icons a{
        margin: 0 5px;
        border-radius: 50%;
        text-align: center;
        line-height: 30px;
        color: black;
        font-size: .8em;
        text-decoration: none;
        transition: all 0.4s ease;
    }
    
    
    footer .content .link-boxes{
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    footer .content .link-boxes .box{
        width: 40%;
        margin: 5% 1%;
    }
    
    .content .link-boxes .box .link_name{
        font-size: .9em;
    }
    
    .link-boxes .box .link_name::before{
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px;
        height: 2px;
        width: 15%;
        background: #F2003C;
    }
    
    
    .content .link-boxes .box li a{
        font-size: .8em;
    }
    
    .box p{
        font-size: .8em;
    }
    
    footer .bottom-details .bottom_text{
        margin: auto;
        padding: .3% 2%;
        display: flex;
        justify-content: space-between;
    }
    
    .bottom-details .bottom_text span,
    .bottom-details .bottom_text a{
      font-size: .8em;
    }
    
}



@media screen and (min-width: 480px) and (max-width: 768px) {
    body{
        font-size: 1rem;
        padding: 2%;
    }

    header .icons, header .callingNumber, header .btn {
        display: none;
    }

    .firstHead{
        display: flex;
        justify-content: space-between;
        height: 80px;

    }

    .firstHead .fa-bars{
        display: block;
        margin: 3% 2% 0 0;
        color: #F2003C;
        font-size: 1.6em;
        
    }

    .fa-times{
        color: #F2003C;
        margin: 3% 2% 0 0;
        font-size: 2em;
    }

    .headSecond{
        display: none;
        position: absolute;
        background-color: rgba(242, 0, 60, 0.9);
        z-index: 99999;
        left:5%; 
        width: 80%;
        height: 80%; 
        top: 15%;
    }
    .headSecond .headli{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 2rem;
        justify-content: space-around;
        padding: 3rem 0;
    }

    .headSecond .headli a{
        color: white;
    }

    .headSecond.active{
        display: block;
    }

    .outerLogoSect, .logoSect{
        width: 70%;
        height: 82%;
        margin-left: -.5%;
    }
    
    .logo{
        font-size: 1.8em;
    }

    .motto{
        font-size: .7em;
    }

    .firstSect{
        height: 300px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .giveBackgroundColor{
        display: none;
    }

    .secondSect{
        height: 300px;
        padding: 0;
        flex-direction: column;
    }

    .spaTreatment{
        display: none;
    }

    .aboutTreatment h3{
        font-size: 1.8em;
    }

    .aboutTreatment p{
        font-size: 1.1em;
        width: 90%;
    }

    .treatmentButton{
        margin: 0 auto;
        display: inline-block;
        margin-top: 5%;
        margin-left: 37%;
    }

    .treatmentButton a{
        font-size: medium;
    }

    .thirdSect{
        height: 400px;
       
    }

    .thirdSect h3{
        padding-top: 20%;
        font-size: 1.8em;
        margin-left: 2%;
    }

    .thirdSect p{
        font-size: 1.1em;
        line-height: 1.75;
        font-weight: bold;
        margin-top: 2%;
        margin-left: 5%;
        width: 90%;
    }

    .skincareButton{
        font-size: medium;
        margin-top: 5%;
        margin-left: 40%;
        padding: 1.2%;
    }

    .fourthSect{
        width: 100%;
        height: 350px;
        padding: 2% 0 5% 0;
    }

    .aboutSection{
        width: 90%;
    }

    .aboutSection h3{
        font-size: 1.8em;
    }

    .aboutSection p{
        font-size: 1.1em;
        width: 100%;
    }

    .aboutButton{
        font-size: medium;
        margin-top: 5%;
        margin-left: 39%;
        padding: 1.2%;
    }

    .contact{
        height: 280px;
    }

    .contact .arrow{
        display: none;
    }

    .contactButton{
        width: 40%;
        text-align: center;
        margin-left: 29%;
        margin-top: 12%;
        font-size: 1.8em;
        padding: 3% 5%;
        border: 1px solid transparent;
        border-radius: 30px;
        background: #fffdd0;
    }
    .contactButton a{
        color: rgb(65, 64, 64);
        text-decoration: none;
    }

    .arrow{
        display: none;
    }

    footer{
        height: 400px;
        width: 100%;
        bottom: 0;
        left: 0;
    }
    
    
    footer .content{
        width: 90%;
        margin: auto;
        padding: 10% 0 2.1% 0;
    }

    footer .content .top{
        flex-direction: column;
    }
    
    .content .top .logo-details{
        color: black;
        font-size: 1.7em;
        font-family: 'Tangerine', sans-serif;
    }
    
    
    .content .top .media-icons{
        width: 100%;
        margin-top: 5%;
        text-align: center;
    }
    
    .content .top .media-icons a{
        margin: 0 5px;
        border-radius: 50%;
        text-align: center;
        line-height: 30px;
        color: black;
        font-size: .8em;
        text-decoration: none;
        transition: all 0.4s ease;
    }

    .top .media-icons a:nth-child(1){
        padding:2% 2.6% 2% 2.6%;
    }

    .top .media-icons a:nth-child(2){
        padding:2.1% 2.4% 2.1% 2.4%;
    }

    .top .media-icons a:nth-child(3){
        padding:2.1% 2.5% 2.1% 2.5%;
    }

    .top .media-icons a:nth-child(4){
        padding:2.1% 2.5% 2.1% 2.5%;
    }
    
    footer .content .link-boxes{
        width: 90%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    footer .content .link-boxes .box{
        width: 40%;
        margin: 5% 5%;
    }
    
    .content .link-boxes .box .link_name{
        font-size: 1em;
    }
    
    .link-boxes .box .link_name::before{
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px;
        height: 2px;
        width: 8%;
        background: #F2003C;
        
    }
    
    
    .content .link-boxes .box li a{
        font-size: .9em;
    }
    
    .box p{
        font-size: .9em;
    }
    
    footer .bottom-details .bottom_text{
        margin: auto;
        padding: .3% 2%;
        display: flex;
        justify-content: space-between;
    }
    
    .bottom-details .bottom_text span,
    .bottom-details .bottom_text a{
      font-size: .9em;
    }
    
}





@media screen and (min-width: 769px) and (max-width: 1439px) {
    body{
        font-size: 1rem
    }

    .firstHead{
        display: flex;
        justify-content: space-evenly;
        height: 80px;

    }

   

    .callingNumber{
        width: 20%;
        padding: 1% 0;
    }
    
    
    .number{
        font-size: 1.1em;
    }
    
    .btn{
        height: 40%;
    }

    .anko a{
        font-size: 1.1em;
    }

    .outerLogoSect, .logoSect{
        width: 60%;
        height: 95%;
    }
    
    .logo{
        font-size: 2.5em;
    }

    .motto{
        font-size: 1em;
    }

    .firstSect{
        height: 600px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .secondSect{
        height: 400px;

        padding: 0;
        flex-direction: row;
    }

    .aboutTreatment h3{
        font-size: 1.8em;
    }

    .aboutTreatment p{
        font-size: 1.1em;
        width: 90%;
    }

    .treatmentButton{
        margin: 0 auto;
        display: inline-block;
        margin-top: 4%;
    }

    .treatmentButton a{
        font-size: .9em;
    }

    .thirdSect{
        height: 550px;
       
    }

    .thirdSect h3{
        padding-top: 5%;
        font-size: 1.8em;
        margin-left: 50%;
    }

    .thirdSect p{
        font-size: 1.2em;
        line-height: 1.75;
        margin-top: 2%;
        margin-left: 45%;
        width: 50%;
    }

    .skincareButton{
        font-size: .9em;
        margin-top: 3%;
        margin-left: 65%;
        padding: 1%;
    }

    .fourthSect{
        width: 100%;
        height: 350px;
        padding: 2% 0 5% 0;
    }

    .aboutSection{
        width: 80%;
    }

    .aboutSection h3{
        font-size: 1.8em;
    }

    .aboutSection p{
        font-size: 1.1em;
        width: 100%;
    }

    .aboutButton{
        font-size: .9em;
        margin-top: 3%;
        padding: 1%;
    }

    .contact{
        height: 300px;
    }

    .contactButton{
        width: 40%;
        text-align: center;
        margin-left: 29%;
        margin-top: 10%;
        font-size: 1.8em;
        padding: 3% 5%;
        border: 1px solid transparent;
        border-radius: 30px;
        background: #fffdd0;
    }
    .contactButton a{
        color: rgb(65, 64, 64);
        text-decoration: none;
    }
    
    .content .top .media-icons{
        flex-basis: 40%;
    }
    
    .link-boxes .box .link_name::before{
        width: 15%;    
    }

}

@media screen and (max-width: 768px) {
    .anko:hover{
        color: none;
    }
}